<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.promotion.mapper.UserCouponMapper">

    <select id="queryMyCoupon" resultType="com.tianji.promotion.domain.pojo.Coupon">
        select coupon.id, coupon.discount_type, coupon.`specific`, coupon.discount_value,
               coupon.threshold_amount, coupon.max_discount_amount, uc.id as creater
        from user_coupon uc, coupon
        where uc.coupon_id = coupon.id
        and uc.status = 1
        and uc.user_id = #{userId}
    </select>

    <select id="queryCouponsByUserCouponIds" resultType="com.tianji.promotion.domain.pojo.Coupon">
        select c.id, c.discount_type, c.`specific`, c.discount_value,
               c.threshold_amount, c.max_discount_amount, uc.id as creater
        from coupon c, user_coupon uc
        where uc.coupon_id = c.id
        and uc.status = #{status}
        and uc.id in 
        <foreach collection="userCouponIds" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
